
version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=marketplace_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres_password

  web:
    build: .
    # Este comando espera a la DB, hace migraciones y prende el server
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=marketplace_db
      - DB_USER=postgres
      - DB_PASS=postgres_password

volumes:
  postgres_data:
