--
-- PostgreSQL database dump
--

\restrict hlSlF3tFjy2kkOvbkLhP1uwEvNmDseaqQ7TjeAPM5hjcA0LXMpzhzR3QY062bui

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO paso_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO paso_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO paso_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_booking; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_booking (
    id bigint NOT NULL,
    customer_name character varying(100) NOT NULL,
    customer_phone character varying(20) NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    employee_id bigint,
    salon_id bigint NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.businesses_booking OWNER TO paso_user;

--
-- Name: businesses_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_booking ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_booking_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_employee; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_employee (
    id bigint NOT NULL,
    lunch_start time without time zone,
    lunch_end time without time zone,
    salon_id bigint NOT NULL,
    user_id bigint NOT NULL,
    bold_api_key character varying(255),
    bold_signing_key character varying(255),
    telegram_bot_token character varying(255),
    telegram_chat_id character varying(255)
);


ALTER TABLE public.businesses_employee OWNER TO paso_user;

--
-- Name: businesses_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_employee_specialties; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_employee_specialties (
    id bigint NOT NULL,
    employee_id bigint NOT NULL,
    service_id bigint NOT NULL
);


ALTER TABLE public.businesses_employee_specialties OWNER TO paso_user;

--
-- Name: businesses_employee_specialties_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_employee_specialties ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_employee_specialties_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_employeeschedule; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_employeeschedule (
    id bigint NOT NULL,
    weekday integer NOT NULL,
    from_hour time without time zone NOT NULL,
    to_hour time without time zone NOT NULL,
    is_closed boolean NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.businesses_employeeschedule OWNER TO paso_user;

--
-- Name: businesses_employeeschedule_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_employeeschedule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_employeeschedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_openinghours; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_openinghours (
    id bigint NOT NULL,
    weekday integer NOT NULL,
    from_hour time without time zone NOT NULL,
    to_hour time without time zone NOT NULL,
    is_closed boolean NOT NULL,
    salon_id bigint NOT NULL
);


ALTER TABLE public.businesses_openinghours OWNER TO paso_user;

--
-- Name: businesses_openinghours_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_openinghours ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_openinghours_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_salon; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_salon (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(50) NOT NULL,
    city character varying(100) NOT NULL,
    description text NOT NULL,
    bold_api_key character varying(255),
    bold_signing_key character varying(255),
    telegram_bot_token character varying(255),
    telegram_chat_id character varying(255),
    invite_token uuid NOT NULL,
    owner_id bigint NOT NULL,
    address character varying(255) NOT NULL,
    phone character varying(20) NOT NULL,
    facebook character varying(200) NOT NULL,
    instagram character varying(200) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    tiktok character varying(200) NOT NULL
);


ALTER TABLE public.businesses_salon OWNER TO paso_user;

--
-- Name: businesses_salon_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_salon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_salon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: businesses_service; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.businesses_service (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    duration_minutes integer NOT NULL,
    price numeric(10,2) NOT NULL,
    salon_id bigint NOT NULL
);


ALTER TABLE public.businesses_service OWNER TO paso_user;

--
-- Name: businesses_service_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.businesses_service ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.businesses_service_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO paso_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO paso_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO paso_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO paso_user;

--
-- Name: users_user; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    role character varying(50) NOT NULL,
    phone character varying(20) NOT NULL,
    identification character varying(20) NOT NULL,
    address character varying(255) NOT NULL,
    avatar character varying(100)
);


ALTER TABLE public.users_user OWNER TO paso_user;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO paso_user;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: paso_user
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO paso_user;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: paso_user
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: paso_user
--



--
-- Data for Name: businesses_booking; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_booking (id, customer_name, customer_phone, start_time, end_time, status, employee_id, salon_id, service_id) FROM stdin;
1	Pablo Sierra	3228317702	2025-12-18 09:05:00-05	2025-12-18 09:25:00-05	pending	1	1	1
\.


--
-- Data for Name: businesses_employee; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_employee (id, lunch_start, lunch_end, salon_id, user_id, bold_api_key, bold_signing_key, telegram_bot_token, telegram_chat_id) FROM stdin;
1	\N	\N	1	5	\N	\N	\N	\N
2	\N	\N	1	6	\N	\N	\N	\N
\.


--
-- Data for Name: businesses_employee_specialties; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_employee_specialties (id, employee_id, service_id) FROM stdin;
\.


--
-- Data for Name: businesses_employeeschedule; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_employeeschedule (id, weekday, from_hour, to_hour, is_closed, employee_id) FROM stdin;
1	0	09:00:00	18:00:00	f	1
2	1	09:00:00	18:00:00	f	1
3	2	09:00:00	18:00:00	f	1
4	3	09:00:00	18:00:00	f	1
5	4	09:00:00	18:00:00	f	1
7	1	09:00:00	18:00:00	f	2
8	2	09:00:00	18:00:00	f	2
9	3	09:00:00	18:00:00	f	2
10	4	09:00:00	18:00:00	f	2
6	0	10:06:00	20:06:00	f	2
\.


--
-- Data for Name: businesses_openinghours; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_openinghours (id, weekday, from_hour, to_hour, is_closed, salon_id) FROM stdin;
1	0	01:43:00	20:44:00	f	1
\.


--
-- Data for Name: businesses_salon; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_salon (id, name, slug, city, description, bold_api_key, bold_signing_key, telegram_bot_token, telegram_chat_id, invite_token, owner_id, address, phone, facebook, instagram, latitude, longitude, tiktok) FROM stdin;
1	Estudio de Unas y Maquillaje	estudio-de-unas-y-maquillaje	Tunja		\N	\N	\N	\N	4ea079d0-d129-4dbd-8db1-46495fbcdc67	2	Carrera 13 # 22	3228317702			0	0	
\.


--
-- Data for Name: businesses_service; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.businesses_service (id, name, duration_minutes, price, salon_id) FROM stdin;
1	Mr Crab	20	25000.00	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	businesses	salon
8	businesses	openinghours
9	businesses	service
10	businesses	employee
11	businesses	employeeschedule
12	businesses	booking
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: paso_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: paso_user
--



--
-- Data for Name: users_user; Type: TABLE DATA; Schema: public; Owner: paso_user
--



--
-- Data for Name: users_user_groups; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.users_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: paso_user
--

COPY public.users_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: businesses_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_booking_id_seq', 1, true);


--
-- Name: businesses_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_employee_id_seq', 2, true);


--
-- Name: businesses_employee_specialties_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_employee_specialties_id_seq', 1, false);


--
-- Name: businesses_employeeschedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_employeeschedule_id_seq', 10, true);


--
-- Name: businesses_openinghours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_openinghours_id_seq', 1, true);


--
-- Name: businesses_salon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_salon_id_seq', 1, true);


--
-- Name: businesses_service_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.businesses_service_id_seq', 1, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: users_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.users_user_groups_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.users_user_id_seq', 6, true);


--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: paso_user
--

SELECT pg_catalog.setval('public.users_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: businesses_booking businesses_booking_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_booking
    ADD CONSTRAINT businesses_booking_pkey PRIMARY KEY (id);


--
-- Name: businesses_employee businesses_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee
    ADD CONSTRAINT businesses_employee_pkey PRIMARY KEY (id);


--
-- Name: businesses_employee_specialties businesses_employee_spec_employee_id_service_id_e5c4840e_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee_specialties
    ADD CONSTRAINT businesses_employee_spec_employee_id_service_id_e5c4840e_uniq UNIQUE (employee_id, service_id);


--
-- Name: businesses_employee_specialties businesses_employee_specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee_specialties
    ADD CONSTRAINT businesses_employee_specialties_pkey PRIMARY KEY (id);


--
-- Name: businesses_employee businesses_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee
    ADD CONSTRAINT businesses_employee_user_id_key UNIQUE (user_id);


--
-- Name: businesses_employeeschedule businesses_employeeschedule_employee_id_weekday_0f484819_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employeeschedule
    ADD CONSTRAINT businesses_employeeschedule_employee_id_weekday_0f484819_uniq UNIQUE (employee_id, weekday);


--
-- Name: businesses_employeeschedule businesses_employeeschedule_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employeeschedule
    ADD CONSTRAINT businesses_employeeschedule_pkey PRIMARY KEY (id);


--
-- Name: businesses_openinghours businesses_openinghours_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_openinghours
    ADD CONSTRAINT businesses_openinghours_pkey PRIMARY KEY (id);


--
-- Name: businesses_openinghours businesses_openinghours_salon_id_weekday_fbee3c5c_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_openinghours
    ADD CONSTRAINT businesses_openinghours_salon_id_weekday_fbee3c5c_uniq UNIQUE (salon_id, weekday);


--
-- Name: businesses_salon businesses_salon_invite_token_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_salon
    ADD CONSTRAINT businesses_salon_invite_token_key UNIQUE (invite_token);


--
-- Name: businesses_salon businesses_salon_owner_id_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_salon
    ADD CONSTRAINT businesses_salon_owner_id_key UNIQUE (owner_id);


--
-- Name: businesses_salon businesses_salon_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_salon
    ADD CONSTRAINT businesses_salon_pkey PRIMARY KEY (id);


--
-- Name: businesses_salon businesses_salon_slug_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_salon
    ADD CONSTRAINT businesses_salon_slug_key UNIQUE (slug);


--
-- Name: businesses_service businesses_service_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_service
    ADD CONSTRAINT businesses_service_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_user users_user_username_key; Type: CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: businesses_booking_employee_id_bfc2f469; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_booking_employee_id_bfc2f469 ON public.businesses_booking USING btree (employee_id);


--
-- Name: businesses_booking_salon_id_30792419; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_booking_salon_id_30792419 ON public.businesses_booking USING btree (salon_id);


--
-- Name: businesses_booking_service_id_b215f46b; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_booking_service_id_b215f46b ON public.businesses_booking USING btree (service_id);


--
-- Name: businesses_employee_salon_id_dbfcaa06; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_employee_salon_id_dbfcaa06 ON public.businesses_employee USING btree (salon_id);


--
-- Name: businesses_employee_specialties_employee_id_97e8e35d; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_employee_specialties_employee_id_97e8e35d ON public.businesses_employee_specialties USING btree (employee_id);


--
-- Name: businesses_employee_specialties_service_id_1039ce3c; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_employee_specialties_service_id_1039ce3c ON public.businesses_employee_specialties USING btree (service_id);


--
-- Name: businesses_employeeschedule_employee_id_7c633855; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_employeeschedule_employee_id_7c633855 ON public.businesses_employeeschedule USING btree (employee_id);


--
-- Name: businesses_openinghours_salon_id_b34619fc; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_openinghours_salon_id_b34619fc ON public.businesses_openinghours USING btree (salon_id);


--
-- Name: businesses_salon_slug_8b8c64b7_like; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_salon_slug_8b8c64b7_like ON public.businesses_salon USING btree (slug varchar_pattern_ops);


--
-- Name: businesses_service_salon_id_e97b5eca; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX businesses_service_salon_id_e97b5eca ON public.businesses_service USING btree (salon_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_user_username_06e46fe6_like; Type: INDEX; Schema: public; Owner: paso_user
--

CREATE INDEX users_user_username_06e46fe6_like ON public.users_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_booking businesses_booking_employee_id_bfc2f469_fk_businesse; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_booking
    ADD CONSTRAINT businesses_booking_employee_id_bfc2f469_fk_businesse FOREIGN KEY (employee_id) REFERENCES public.businesses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_booking businesses_booking_salon_id_30792419_fk_businesses_salon_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_booking
    ADD CONSTRAINT businesses_booking_salon_id_30792419_fk_businesses_salon_id FOREIGN KEY (salon_id) REFERENCES public.businesses_salon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_booking businesses_booking_service_id_b215f46b_fk_businesses_service_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_booking
    ADD CONSTRAINT businesses_booking_service_id_b215f46b_fk_businesses_service_id FOREIGN KEY (service_id) REFERENCES public.businesses_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_employee_specialties businesses_employee__employee_id_97e8e35d_fk_businesse; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee_specialties
    ADD CONSTRAINT businesses_employee__employee_id_97e8e35d_fk_businesse FOREIGN KEY (employee_id) REFERENCES public.businesses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_employee_specialties businesses_employee__service_id_1039ce3c_fk_businesse; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee_specialties
    ADD CONSTRAINT businesses_employee__service_id_1039ce3c_fk_businesse FOREIGN KEY (service_id) REFERENCES public.businesses_service(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_employee businesses_employee_salon_id_dbfcaa06_fk_businesses_salon_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee
    ADD CONSTRAINT businesses_employee_salon_id_dbfcaa06_fk_businesses_salon_id FOREIGN KEY (salon_id) REFERENCES public.businesses_salon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_employee businesses_employee_user_id_f4063da1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employee
    ADD CONSTRAINT businesses_employee_user_id_f4063da1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_employeeschedule businesses_employees_employee_id_7c633855_fk_businesse; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_employeeschedule
    ADD CONSTRAINT businesses_employees_employee_id_7c633855_fk_businesse FOREIGN KEY (employee_id) REFERENCES public.businesses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_openinghours businesses_openingho_salon_id_b34619fc_fk_businesse; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_openinghours
    ADD CONSTRAINT businesses_openingho_salon_id_b34619fc_fk_businesse FOREIGN KEY (salon_id) REFERENCES public.businesses_salon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_salon businesses_salon_owner_id_26d291d7_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_salon
    ADD CONSTRAINT businesses_salon_owner_id_26d291d7_fk_users_user_id FOREIGN KEY (owner_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: businesses_service businesses_service_salon_id_e97b5eca_fk_businesses_salon_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.businesses_service
    ADD CONSTRAINT businesses_service_salon_id_e97b5eca_fk_businesses_salon_id FOREIGN KEY (salon_id) REFERENCES public.businesses_salon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: paso_user
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict hlSlF3tFjy2kkOvbkLhP1uwEvNmDseaqQ7TjeAPM5hjcA0LXMpzhzR3QY062bui

