{% extends 'base.html' %}

{% block content %}
<div style="padding: 100px 5%; text-align: center; color: white;">
    <h1 style="color: #d4af37; font-size: 3rem;">Explora el Ecosistema</h1>
    <p style="margin-bottom: 40px; font-size: 1.2rem;">Encuentra los mejores salones y profesionales de tu ciudad.</p>
    
    <div style="border: 1px dashed #444; padding: 50px; border-radius: 10px;">
        <p>🚧 El Buscador Inteligente está en construcción 🚧</p>
        <br>
        <a href="{% url 'home' %}" class="btn-nav btn-login">Volver al Inicio</a>
    </div>
</div>
{% endblock %}
